body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* 水色 */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #001f3f; /* 紺色 */
    color: white;
    padding: 10px 0; /* 小さくする */
    text-align: center;
    position: fixed; /* 固定 */
    width: 100%;
    top: 0px; /* 初期位置を上に隠す */
    z-index: 1000;
    transition: top 0.3s; /* スムーズな表示 */
}

header:hover {
    top: 0; /* カーソルをかざすと表示 */
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    background-color: #0074D9; /* 青 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: fixed; /* 固定 */
    width: 100%;
    top: -100px; /* 初期位置を上に隠す */
    z-index: 999;
    transition: top 0.3s; /* スムーズな表示 */
}

/* ヘッダーにカーソルがあるときもナビゲーションを表示 */
header:hover + nav {
    top: 50px; /* ヘッダーが表示されたときにナビゲーションも表示 */
}

/* ナビゲーションにカーソルがあるときも表示を維持 */
nav:hover {
    top: 50px; /* ナビゲーションを表示 */
}

nav a {
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

nav a:hover {
    background-color: #001f3f; /* 紺色 */
    color: white;
}

main {
    flex: 1;
    padding: 20px;
    background-color: white; /* 白 */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 黒の影 */
    margin-top: 70px; /* ヘッダーの高さ分の余白を追加 */
}

footer {
    background-color: #001f3f; /* 紺色 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
